{{- partial "header.html" . -}}
<div class="content bg-white p-3 rounded">
<h3>{{- .Title -}}</h3>
<h5>
	{{- partial "post-metadata.html" . -}}
</h5>
<hr>
<div class="post-content text-break">
	{{- .Content -}}
</div>
{{- partial "copyright.html" . -}}
<hr>
{{- with .NextInSection -}}
Next: <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
<br>
{{- end -}}
{{- with .PrevInSection -}}
Prev: <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
{{- end -}}
</div>
{{- partial "footer.html" . -}}