<meta charset="utf-8">
<title>{{- .Site.Params.IcpTitle }} -【{{- if .IsPage -}} {{- .Title -}} {{- else -}} {{- .Site.Title -}} {{- end -}}】</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{- $keywords := slice -}}
{{- range .Site.Taxonomies.tags -}}
{{- $keywords = $keywords | append (slice .Page.Title) -}}
{{- end -}}
<meta name="keywords" content="{{- delimit $keywords ", " -}}">
<meta name="description" content="{{- .Site.Params.description -}}">

<!-- BEGIN CSS -->
{{- partial "css-assets.html" . -}}
<link rel="stylesheet" href='{{- .Scratch.Get "blogcss" -}}' integrity='{{- .Scratch.Get "blogcssintegrity" -}}'>
<!-- END CSS -->