<!DOCTYPE html>
<html>
	<head>
		{{ partial "head.html" . }}
		<title>{{ .Title }}</title>
	</head>
	<body class="bg-secondary">
		<div class="container shadow-sm p-3 mb-5 bg-white rounded">
			<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-2 mb-3 bg-white rounded">
				<a class="navbar-brand" href="{{ site.BaseURL }}">{{ .Site.Title }}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						{{ range .Site.Params.Nav.Custom }}
						<li class="nav-item">
							{{ if or (eq .title "Tags") (eq .title "Posts") }}
							<a class="nav-link" href="{{ .url }}">{{ .title }}</a>
							{{ else }}
							<a class="nav-link" href="{{ .url }}" target="_blank">{{ .title }}</a>
							{{ end }}
						</li>
						{{ end }}
					</ul>
				</div>
			</nav>
			<br>