{{ partial "header.html" . }}
<div class="jumbotron">
	<h1 class="display-4">Hello!</h1>
	<p class="lead">
		{{ .Site.Params.Welcome }}<br><br>
		{{ .Site.Params.Description }}<br>
	</p>
	<hr class="my-4">
	<a class="btn btn-primary btn-sm" href="/posts" role="button">All Posts</a>
</div>
<br>

<h5 class="pb-1">友情链接</h5>
{{ range .Site.Params.Link.Friends }}
<div class="media">
	<img class="mr-3 rounded" style="width:64px; height:64px;" src="{{ .pic }}">
	<div class="media-body text-secondary">
		<h6 class="mt-0"><a href="{{ .url }}" target="_blank">{{ .title }}</a></h6>
		{{ .slogan }}
	</div>
</div>
<br>
{{ end }}
<hr>
{{ partial "footer.html" . }}